@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* (main BG) */
    --Very-dark-blue : hsl(217, 54%, 11%); 
    /*  (card BG) */
    --card: hsl(216, 50%, 16%);
    /* (line) */
    --line : hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --font-weight-light: 300;
    --font-weight-reg: 400;
    --font-weight-bold: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    background-color: var(--Very-dark-blue);
}
main {
    background-color:var(--card) ;
    border-radius: 1em;
    padding: 1em;
    width: 375px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, .3);
}
.equilibrium {
    width: 100%;
    border-radius: 1em;
}
main > h1 {
    font-size: 1.5em;
    color: white;
    margin: 1em 0 1em 0;
    font-weight: var(--font-weight-bold);
}
main > p {
    color: var(--Soft-blue);
    width: 80%;
    font-weight: var(--font-weight-light);
}
main > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0px 1em 0px;
    border-bottom: 1px solid var(--line);
}
.price > img, .time-left > img {
    vertical-align: middle;
}
.price > p, .time-left > p {
    display: inline;
    vertical-align: middle;
}
.price > p {
    color: var(--Cyan);
    font-weight: var(--font-weight-bold);
}
.time-left > p {
    color: var(--Soft-blue);
}

.attribute {
    border: none;
    justify-content: flex-start;
}
.attribute > img {
    height: 50px;
    border: 1px solid white;
    border-radius: 100%;
}
.attribute > p {
    margin-left: 1em;
    color: var(--Soft-blue);
}
.attribute span {
    color: white;
}

